[submodule "prereq"]
	path = prereq
	url = https://github.com/Shuva15/trubin3-Q3-prereq
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/Shuva15/turbin3-solana-starter
[submodule "anchor-vault"]
	path = anchor-vault
	url = https://github.com/Shuva15/turbin3-anchor-vault
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/Shuva15/turbin3-anchor-escrow
