[submodule "prereq"]
	path = prereq
	url = https://github.com/Shuva15/trubin3-Q3-prereq
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/Shuva15/turbin3-solana-starter
[submodule "anchor-vault"]
	path = anchor-vault
	url = https://github.com/Shuva15/turbin3-anchor-vault
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/Shuva15/turbin3-anchor-escrow
[submodule "AMM"]
	path = AMM
	url = https://github.com/Shuva15/turbin3-anchor-amm
[submodule "NFT-Staking"]
	path = NFT-Staking
	url = https://github.com/Shuva15/turbin3-anchor-nft-staking
[submodule "marketplace"]
	path = marketplace
	url = https://github.com/Shuva15/turbin3-anchor-marketplace
[submodule "dice-betting-game"]
	path = dice-betting-game
	url = https://github.com/Shuva15/turbin3-anchor-dice
